@import "abstract/variables";
@import "abstract/breakpoints";

@import "base/reset";

@import "components/header";
@import "components/hompage-hero";
@import "components/page-title";

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: $font-family-sans;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-title);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--color-primary);
  letter-spacing: 1.67px;
}

main {
  margin: 0 auto;
}

section {
  margin: 0 auto;

  .content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem;
  }
}
