@import "abstract/variables";
@import "abstract/breakpoints";

@import "base/reset";

@import "components/header";
@import "components/hompage-hero";

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: $font-family-sans;
}

h1 {
  color: var(--color-primary);
}

main {
  min-width: 500px;
  max-width: 1200px;
  margin: 0 auto;
}
