header {
  position: fixed;
  top: 1rem;
  width: calc(100% - 2rem);
  box-sizing: border-box;
  padding: clamp(0.75rem, 2vw, 1.5rem);
  background-color: var(--color-surface);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm);
  transition:
    top 0.3s,
    border-radius 0.3s,
    width 0.3s,
    margin 0.3s,
    max-width 0.3s;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1440px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.is-scrolled {
  top: 0;
  border-radius: 0;
  margin: 0;
  width: 100%;
}

.site-logo a {
  text-decoration: none;
}

.main-nav {
  display: none;

  @include tablet-up {
    display: block;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    padding: 0 0 0 2rem;
  }

  a {
    font-family: var(--font-family-title);
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--color-black);
    text-transform: uppercase;

    &:hover {
      color: var(--color-secondary);
    }
  }
}
