.homepage-hero {
  background-color: var(--color-surface-brand-primary);
  color: var(--color-text-inverse);

  .homepage-hero-content {
    padding: 10rem 1rem 2rem;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;

    .topper {
      color: var(--color-text-inverse);
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 3rem;
      display: block;
    }

    .title {
      color: var(--color-text-inverse);
      text-transform: uppercase;
      font-size: 2.5rem;
      line-height: 3.25rem;
      display: block;
    }

    .blurb {
      margin: 1rem;
    }
  }
}
