.homepage-hero {
  background-color: var(--color-surface-brand-primary);
  color: var(--color-text-inverse);

  .homepage-hero-content {
    padding: 9rem 1rem 2rem;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include tablet-up {
      flex-direction: row;
      justify-content: center;
    }

    .left {
      width: 100%;

      @include tablet-up {
        width: 40%;
      }
    }

    .right {
      width: 90%;
      margin-top: 1rem;

      @include tablet-up {
        margin: 0 1rem 0 2rem;
        width: 50%;
      }
    }

    @include desktop-up {
      padding: 14rem 2rem 8rem;
      text-align: left;
    }

    .topper {
      color: var(--color-text-inverse);
      text-transform: uppercase;
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 3rem;
      display: block;
    }

    .title {
      color: var(--color-text-inverse);
      text-transform: uppercase;
      font-size: clamp(2.4375rem, 5vw, 3.8125rem);
      line-height: 1.2em;
      display: block;
    }

    .blurb {
      margin: 1rem auto;
      max-width: 80%;

      @include tablet-up {
        max-width: 100%;
      }

      @include desktop-up {
        margin: 1rem 0;
        width: 100%;
      }
    }
  }
}
