.homepage-hero {
  background-color: var(--color-surface-brand-primary);
  color: var(--color-text-inverse);

  .homepage-hero-content {
    padding: 9rem 1rem 2rem;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;

    @include desktop-up {
      padding: 14rem 2rem 8rem;
      text-align: left;
    }

    .topper {
      color: var(--color-text-inverse);
      text-transform: uppercase;
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 3rem;
      display: block;
    }

    .title {
      color: var(--color-text-inverse);
      text-transform: uppercase;
      font-size: clamp(2.4375rem, 5vw, 3.8125rem);
      line-height: 1.2em;
      display: block;
    }

    .blurb {
      margin: 1rem auto;
      max-width: 70%;

      @include desktop-up {
        margin: 1rem 0;
        width: 400px;
      }
    }
  }
}
