$breakpoints: (
  'handheld': 576px,
  'tablet':   768px,
  'desktop':  1024px,
  'wide':     1440px
);

@mixin tablet-up {
  @media (min-width: map-get($breakpoints, 'tablet')) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: map-get($breakpoints, 'desktop')) {
    @content;
  }
}

@mixin wide-up {
  @media (min-width: map-get($breakpoints, 'wide')) {
    @content;
  }
}