{{ define "main" }}
  <div class="homepage-hero">
    <div class="homepage-hero-content">
      <h1>
        <span class="topper">Custom Designs, Custom Coded</span>
        <span class="title">Small Business </span>
        <span class="title"> Web Designer </span>
      </h1>

      <p class="blurb">
        No page builders or WordPress. We offer 100% hand-coded websites with
        superior results starting at $175/mo as well as Google Ads and SEO
        services.
      </p>
    </div>
  </div>

  <section>
    <div class="content">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci
        facere explicabo tempora! Ex obcaecati non, eveniet, dignissimos eum
        distinctio dolore omnis nesciunt culpa temporibus ea! Aspernatur
        laboriosam ex esse sit.
      </p>
    </div>
  </section>
  <section>
    <div class="content">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci
        facere explicabo tempora! Ex obcaecati non, eveniet, dignissimos eum
        distinctio dolore omnis nesciunt culpa temporibus ea! Aspernatur
        laboriosam ex esse sit.
      </p>
    </div>
  </section>
  <section>
    <div class="content">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci
        facere explicabo tempora! Ex obcaecati non, eveniet, dignissimos eum
        distinctio dolore omnis nesciunt culpa temporibus ea! Aspernatur
        laboriosam ex esse sit.
      </p>
    </div>
  </section>
  <section>
    <div class="content">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci
        facere explicabo tempora! Ex obcaecati non, eveniet, dignissimos eum
        distinctio dolore omnis nesciunt culpa temporibus ea! Aspernatur
        laboriosam ex esse sit.
      </p>
    </div>
  </section>
  <section>
    <div class="content">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci
        facere explicabo tempora! Ex obcaecati non, eveniet, dignissimos eum
        distinctio dolore omnis nesciunt culpa temporibus ea! Aspernatur
        laboriosam ex esse sit.
      </p>
    </div>
  </section>
  <section>
    <div class="content">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci
        facere explicabo tempora! Ex obcaecati non, eveniet, dignissimos eum
        distinctio dolore omnis nesciunt culpa temporibus ea! Aspernatur
        laboriosam ex esse sit.
      </p>
    </div>
  </section>
  <section>
    <div class="content">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci
        facere explicabo tempora! Ex obcaecati non, eveniet, dignissimos eum
        distinctio dolore omnis nesciunt culpa temporibus ea! Aspernatur
        laboriosam ex esse sit.
      </p>
    </div>
  </section>
  <section>
    <div class="content">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci
        facere explicabo tempora! Ex obcaecati non, eveniet, dignissimos eum
        distinctio dolore omnis nesciunt culpa temporibus ea! Aspernatur
        laboriosam ex esse sit.
      </p>
    </div>
  </section>
  <section>
    <div class="content">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci
        facere explicabo tempora! Ex obcaecati non, eveniet, dignissimos eum
        distinctio dolore omnis nesciunt culpa temporibus ea! Aspernatur
        laboriosam ex esse sit.
      </p>
    </div>
  </section>
  <section>
    <div class="content">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci
        facere explicabo tempora! Ex obcaecati non, eveniet, dignissimos eum
        distinctio dolore omnis nesciunt culpa temporibus ea! Aspernatur
        laboriosam ex esse sit.
      </p>
    </div>
  </section>
  <section>
    <div class="content">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci
        facere explicabo tempora! Ex obcaecati non, eveniet, dignissimos eum
        distinctio dolore omnis nesciunt culpa temporibus ea! Aspernatur
        laboriosam ex esse sit.
      </p>
    </div>
  </section>
  <section>
    <div class="content">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci
        facere explicabo tempora! Ex obcaecati non, eveniet, dignissimos eum
        distinctio dolore omnis nesciunt culpa temporibus ea! Aspernatur
        laboriosam ex esse sit.
      </p>
    </div>
  </section>
{{ end }}
